@media (max-width: 767px) {
  a {
    color: inherit;
    text-decoration: none;
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  ol,
  ul {
    list-style: none;
  }

  main {
    width: 90vw;
    margin: 0 auto;
  }
  #about #profile .profile-list ul li span {
    padding-left: 10px;
  }
  #about #profile .profile-list ul:first-child {
    border-bottom: 1px dashed #ceb8b8;
    padding-bottom: 10px;
  }

  header {
    background-color: #fff;
    box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.25);
    height: 40px;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 9999;
  }

  .name {
    display: none;
  }
  .profileImage {
    display: none;
  }

  header .header-inner .container {
    margin: 0 auto;
    width: 90vw;
  }

  header .header-inner .container nav {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 40px;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }
  section {
    border-bottom: 2px dashed #ceb8b8;
    padding: 50px 0;
  }

  section h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  #about .profile-img {
    background-color: #f0f8ff;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.18);
    margin: 16px auto 0;
    width: 100%;
    padding: 20px;
  }

  #about #profile {
    background-color: #f0f8ff;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.18);
    margin: 16px auto 0;
    padding: 20px;
    width: 100%;
  }
  #about #introduction {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 600;
    height: 250px;
    line-height: 1.4;
    text-align: center;
  }

  #about #profile h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  #about #profile {
    background-color: #f0f8ff;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.18);
    margin: 16px auto 0;
    padding: 20px;
    width: 100%;
  }
  #about .profile-list {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
  }
  #about p {
    font-size: 12px;
    font-weight: 400;
    word-break: keep-all;
  }

  #about .about-wrap .profile-list ul li {
    align-items: center;
    display: flex;
    margin-bottom: 6px;
  }

  .about-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  #about ul li span {
    padding-left: 10px;
  }

  #skills {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #skills ul {
    margin-top: 16px;
    width: 100%;
  }
  #skills ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
  }
  #skills ul li .skill-name {
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    width: 120px;
  }
  #skills ul li .ability-bar {
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    height: 16px;
    justify-content: center;
    padding: 0 1px;
    width: 90%;
  }
  #skills ul li .ability-bar .ability-percent .percent {
    color: #fff;
    font-size: 11px;
    padding-right: 7px;
  }
  #skills ul li .ability-bar .ability-percent {
    align-items: center;
    -webkit-animation: SkillUp 2s linear;
    animation: SkillUp 2s linear;
    background: linear-gradient(90deg, #fee9b2, #ffc898);
    border-radius: 0 8px 8px 0;
    display: flex;
    height: 16px;
    justify-content: flex-end;
  }

  #projects .projects-grid {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 12px auto 0;
  }
  #projects .projects-grid .flip,
  #projects .projects-grid .flip-portfolio {
    background: #fff;
    height: 240px;
    margin-bottom: 8px;
    -webkit-perspective: 1100px;
    perspective: 1100px;
    width: 260px;
  }
  .projects-item .project-front .info {
    display: none;
  }

  .flip-portfolio,
  .flip {
    background: #fff;
    height: 280px;
    perspective: 1100px;
    width: 320px;
  }

  .project-back-portfolio,
  .projects-item .project-back {
    background: #fff;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: center;
    padding: 0 14px;
    transform: rotateY(360deg);
    height: 100%;
  }

  .projects-item .project-front:hover .info .title {
    color: #fff;
    font-size: 15px;
  }
  .projects-item .project-front:hover .info .click-msg {
    color: #caf7e3;
    font-size: 12px;
    padding-top: 20px;
  }

  .project-front-portfolio {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    background-image: url(media/port.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .project-front {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    background-image: url(media/mechoori.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  #contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
  #contact .contact-left p {
    font-size: 14px;
    margin: 12px 0 24px;
    text-align: center;
  }
  #contact .contact-right {
    font-size: 8px;
  }
  #contact .contact-inner {
    width: 260px;
  }
  #contact .contact-right form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #contact .contact-right form input {
    height: 24px;
    padding: 0 12px;
    width: 244px;
  }
  #contact .contact-right form textarea {
    padding: 8px 12px;
    resize: none;
  }
  #contact .contact-right form button {
    background-color: #525e75;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    margin: 0 auto;
    transition: background-color 0.2s, box-shadow 0.2s;
    width: 100%;
  }
  #contact .contact-right form input,
  #contact .contact-right form textarea {
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.7);
    font-family: Nanum Gothic, sans-serif;
    font-size: 10px;
    margin-bottom: 12px;
    width: 100%;
  }
}
